<p-card header="Account Settings">
  <form #form="ngForm">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="firstname">Firstname</label>
        <input
          id="firstname" 
          name="firstname" 
          type="text" 
          pInputText 
          [(ngModel)]="accountSettings.firstname"/>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="lastname">Lastname</label>
        <input
          id="lastname" 
          name="lastname" 
          type="text" 
          pInputText 
          [(ngModel)]="accountSettings.lastname"/>
      </div>
      <div class="p-field p-col-12">
        <label for="email">Email</label>
        <input
          id="email" 
          name="email" 
          type="text" 
          pInputText 
          [(ngModel)]="accountSettings.email"/>
      </div>
      <div class="p-field p-col-12">
        <label for="password">Password</label>
        <input 
          id="password" 
          name="password" 
          type="password" 
          pPassword 
          [(ngModel)]="accountSettings.password"/>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="birthday">Birthday</label>
        <p-calendar
          id="birthday" 
          name="birthday" 
          dateFormat="dd.mm.yy" 
          [monthNavigator]="true" 
          [yearNavigator]="true" 
          yearRange="1950:2020" 
          [(ngModel)]="accountSettings.birthday">
        </p-calendar>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="gender">Gender</label>
        <p-selectButton
          id="gender"
          name="gender"
          [options]="[{ name: 'Male' }, { name: 'Female' }, { name: 'Other' }]"
          optionLabel="name"
          [(ngModel)]="accountSettings.gender"
        ></p-selectButton>
      </div>
      <div class="p-field p-col-12">
        <label for="about">About me</label>
        <textarea
          id="about"
          name="about" 
          type="text"
          rows="4" 
          pInputTextarea 
          [(ngModel)]="accountSettings.about"
        ></textarea>
      </div>
      <div class="p-field p-col-12">
        <p-checkbox
          id="private-account"
          name="privateAccount"
          [binary]="true"
          label="Make my profile private"
          [(ngModel)]="accountSettings.privateAccount"
        ></p-checkbox>
      </div>
    </div>
    <p-footer>
      <button pButton type="button" label="Save"></button>
    </p-footer>
  </form>
</p-card>
